body {
  color: #223441;
  font-family: "Raleway", sans-serif; }

.primary-nav {
  background: rgba(34, 52, 65, 0.1); }
  .primary-nav .nav .nav-item i {
    color: #2db27f;
    padding-right: 5px; }
  .primary-nav .nav .nav-item a {
    color: #223441; }

.secondary-nav {
  background: #223441; }
  .secondary-nav .navbar-brand h3 {
    font-weight: 300; }
  .secondary-nav .navbar {
    font-size: 1.4rem;
    font-weight: 100; }

#mainCacousel {
  width: 100%;
  position: relative; }
  #mainCacousel #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  #mainCacousel .carousel-caption {
    bottom: 10%;
    z-index: 3; }
  #mainCacousel img {
    width: 100%;
    height: 650px;
    object-fit: cover; }
  #mainCacousel h1 {
    font-family: "Raleway", sans-serif;
    line-height: 1; }
  #mainCacousel #book {
    font-size: 1.5rem;
    border-radius: 2rem; }

#benefits {
  text-align: center; }
  #benefits i {
    font-size: 3rem; }
  #benefits a {
    border-radius: 2rem; }
  #benefits h5 {
    min-height: 70px; }

#popularCourses #price {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px;
  background: #2db27f; }
#popularCourses .card-title {
  color: #2db27f;
  text-transform: uppercase; }
#popularCourses h3 {
  text-align: center;
  font-family: "Raleway", sans-serif; }

#saleAction {
  background: url("https://images.unsplash.com/photo-1489486501123-5c1af10d0be6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") bottom center no-repeat;
  background-size: 100%;
  min-height: 450px;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: 1; }
  #saleAction .saleBg {
    background: rgba(34, 52, 65, 0.9);
    height: 450px;
    width: 100%;
    z-index: 5; }
  #saleAction .saleText {
    color: #fff;
    font-size: 1.5rem;
    z-index: 10; }
    #saleAction .saleText h3 {
      color: #2db27f;
      font-weight: 500; }
    #saleAction .saleText a {
      border-radius: 2rem; }

#instructors h3 {
  text-align: center;
  font-family: "Raleway", sans-serif; }
#instructors .divider {
  width: 60%;
  height: 1px;
  margin: 0 auto;
  background: #2db27f; }
#instructors h5 {
  color: #2db27f;
  margin: 15px 0;
  text-align: center; }
#instructors img {
  width: 100%;
  min-height: 175px;
  margin-bottom: 25px; }

#testimonial {
  text-align: center; }
  #testimonial i {
    opacity: 0.3; }

#faq .card-header {
  background-color: rgba(34, 52, 65, 0.1); }

#blog .card-img,
#blog .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
#blog .card-img,
#blog .card-img-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
#blog .card {
  border-radius: 0; }
#blog .card-text {
  background-color: rgba(34, 52, 65, 0.01); }
  #blog .card-text .btn {
    float: left; }
  #blog .card-text .rightSide {
    float: right; }

#blog .card-img-overlay {
  top: auto; }

#footer {
  background: #071b27; }

@media (max-width: 768px) {
  #mainCacousel img {
    height: 400px; }
  #mainCacousel h1 {
    font-size: 2rem; }
  #mainCacousel h3 {
    font-size: 1rem; }

  #benefits h5 {
    min-height: 100px; } }

/*# sourceMappingURL=custom.css.map */
